# Banco de dados (PostgreSQL)
DATABASE_URL=DATA_URL

# JWT
SECRET_KEY=KEY-SECRET-PROD
ALGORITHM=HS256
REFRESH_EXPIRE_DAYS=30
ACCESS_EXPIRE_MINUTES=5

# ENVIROMENT
ENV=DEV


# Pagamentos (futuro)
ASAAS_API_KEY=
