# ==========================================
# ENVIRONMENT
# ==========================================
ENV=DEV


# ==========================================
# Banco de dados
# ==========================================
DATABASE__URL_PROD=<USER>:<PASSWORD>@<HOST>:6543/<DATABASE>
DATABASE__URL_PROD_POLL=<USER>:<PASSWORD>@<HOST>:5432/<DATABASE>
DATABASE__URL_DEV=<USER>:<PASSWORD>@localhost:5432/<DATABASE>


# ==========================================
# JWT
# ==========================================
AUTH__SECRET_KEY=<YOUR_SECRET_KEY>
AUTH__ALGORITHM=HS256
AUTH__REFRESH_EXPIRE_DAYS=30
AUTH__ACCESS_EXPIRE_MINUTES=5


# ==========================================
# Email
# ==========================================
EMAIL__HOST=<SMTP_HOST>
EMAIL__PORT=<SMTP_PORT>
EMAIL__TIMEOUT=10
EMAIL__CREDENTIALS__USERNAME=<EMAIL_USERNAME>
EMAIL__CREDENTIALS__PASSWORD=<EMAIL_PASSWORD>


# ==========================================
# Pagamentos
# ==========================================
PAYMENT__API_KEY=<PAYMENT_API_KEY>
PAYMENT__BASE_URL=<PAYMENT_BASE_URL>
PAYMENT__TIMEOUT=10


# ==========================================
# Segurança Interna (Acesso a rotas do sistema)
# ==========================================
INTERNAL_API_KEY=<SECRET_INTERNAL_TOKEN_KEY>